@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
  @apply w-full max-w-[1140px] mx-auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  scrollbar-width: thin;
  background-color: #000000;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.sidebarWithUser {
  height: calc(100vh - 134px);
}

.sidebarWithoutUser {
  height: calc(100vh - 67px);
}

/* .messages {
  height: calc(100% - 125px);
}

.chats {
  height: calc(100% - 180px);
}

.navbar {
  height: calc(100% - 54px);
}

.chats2 {
  height: calc(100% - 50px);
} */
